<div class="container">
  <header>
    <h1>Screening Kesiapan Belajar Siswa Disabilitas berbasis EEG</h1>
    <h4>Untuk Optimalisasi Potensi dan Keterampilan guna meningkatkan daya saing difable</h4>
    <p>Support by: Universitas Muhammadiyah Surabaya</p>
  </header>

  <div class="image-container">
    <!-- You can replace this with an actual image or use an SVG -->
    <img src="/cover.png" alt="People Illustration">
  </div>

  <div class="auth-buttons">
    <button mat-flat-button class="login-btn" (click)="login()">Log In</button>
    <button mat-raised-button class="signup-btn" (click)="signUp()" disabled>Sign Up</button>
  </div>

  <footer>
    <p>Pengabdian dengan dukungan Kemendibudristek 2024</p>
  </footer>
</div>
